body {
	padding:0;
	margin:0; 
	border:0;
    
    color: #fff;
    background-image: url("/images/body-bg.jpg");
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: fixed;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
 
}

section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
  
}

/* ==========================================================================
   #Typography
   ========================================================================== */

h1, h2, h3, h4, h5 {
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
}

h1 {
    font-style: italic;
    border-bottom: 1px solid rgba(126, 126, 126, 0.3);
    padding: 35px 15px 15px 15px;
    margin: 0px 20px 20px 20px;
    position: relative;
    font-size: 38px;
}
h2 {
    font-size: 45px;
    margin: 0;
    line-height: 45px;
}
h2 span {
    font-weight: 300
}
h3 {
    font-size: 16px;
    margin: 50px 0 10px;
}
h4 {
    font-size: 25px;
    font-weight: 100;
    line-height: 30px;
    margin: 0;
}
h5 {
    font-size: 18px;
}


aside nav a {
    display: block;
    padding: 13px 0;
    text-align: left;
    outline: none;
    margin: 0 30px;
    border-bottom: 1px solid rgba(235,235,235,0.2);
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    
    transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;  
}


/* ==========================================================================
   #Left Side 
   ========================================================================== */


aside nav a {
    color: #818181;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    
}

aside nav a:focus, a:hover {
    color: #7dba5c;
    font-weight: 400;
    text-decoration: none;
}


aside nav a:hover {
    color: #7dba5c;
    font-weight: 400;
    text-decoration: none;
}


aside ul {
    list-style-type: none
}

/* ==========================================================================
   #Menu  
   ========================================================================== */

#aside nav{
   margin-top: 160px;
   margin-bottom: 160px;
}

#aside.col-md-3{
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    max-width: none;
    height: 100vh;
    background-color: rgba(0,0,0, .65);
    
}