<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>Resume</title>
     
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" >
        <link href="http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100italic,100,400italic,500,500italic,700,900,900italic,700italic%7COswald:400,300,700" rel="stylesheet" type="text/css">
        
       <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"> 
       <!-- <link href="css/style.css" rel="stylesheet" type="text/css" />-->
        <link href="css/test.css" rel="stylesheet" type="text/css" />


<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

    </head>
    <!--
    
    <body ng-controller="MainController">
      <section id="main" class="container">
        <div class="row">
              <aside id="aside" class="col-md-3">    
                <nav>
                      <ul>
                          <li><a ng-class="{active: activetab === 'home'}" href="#home" ng-click="updateTab('home')"><i class="fa fa-home"></i> Home</a></li>
                          <li><a ng-class="{active: activetab === 'about'}" href="#about" ng-click="updateTab('about')"><i class="fa fa-user"></i> About</a></li>
                          <li><a ng-class="{active: activetab === 'skills'}" href="#skills" ng-click="updateTab('skills')"><i class="fa fa-graduation-cap"></i> Skills</a></li>
                          <li><a ng-class="{active: activetab === 'jobs'}" href="#jobs" ng-click="updateTab('jobs')"><i class="fa fa-briefcase"></i> Employment</a></li>
                          <li><a ng-class="{active: activetab === 'contact'}" href="#contact" ng-click="updateTab('contact')"><i class="fa fa-envelope"></i> Contact</a></li>     
                      </ul>
                  </nav>
              </aside>



              <main id="content" class="col-md-9">

                <!-- each angular controller applies a different class here 
                <div class="page {{ pageClass }}" ng-view></div>
              </main>
        </div> <!-- /row 
      </section>                          
        
-->

<body ng-controller="MainController">
      <main id="body" class="width">
              
          <aside id="sidebar" class="column-left">    
                <nav id="mainnav">
                      <ul>
                          <li><a ng-class="{active: activetab === 'home'}" href="#home" ng-click="updateTab('home')"><i class="fa fa-home"></i>Home</a></li>
                          <li><a ng-class="{active: activetab === 'about'}" href="#about" ng-click="updateTab('about')"><i class="fa fa-user"></i> About</a></li>
                          <li><a ng-class="{active: activetab === 'skills'}" href="#skills" ng-click="updateTab('skills')"><i class="fa fa-graduation-cap"></i> Skills</a></li>
                          <li><a ng-class="{active: activetab === 'jobs'}" href="#jobs" ng-click="updateTab('jobs')"><i class="fa fa-briefcase"></i> Employment</a></li>
                          <li><a ng-class="{active: activetab === 'contact'}" href="#contact" ng-click="updateTab('contact')"><i class="fa fa-envelope"></i> Contact</a></li>     
                      </ul>
                  </nav>
              </aside>



              <section id="main" class="column-right">
                  <div id="content">
                      <div class ="box" id="box">
                            <div class="in" id="in">
                              <ng-view></ng-view>

                          
                          </div>
                      
                      </div>
                  
                  </div>

                <!-- each angular controller applies a different class here -->
                <div class="page {{ pageClass }}"></div>
                
                     
                     
                     </section>
      </main>                          
    
    
    
    
    






                        
        
        
            
<!--       
        <footer>
             <div class="social">
                 <a href="https://plus.google.com/u/0/102777391215132047871/posts" class="googleplus"><i class="fa fa-google-plus-square"></i></a>
                 <a href="https://www.linkedin.com/in/margagenova" class="linkedin"><i class="fa fa-linkedin-square"></i></a>   
                 <a href="https://github.com/mgenova" class="github"><i class="fa fa-github-square"></i></a>
             </div>

             <div class="copyright"><i class="fa fa-copyright"></i> Marga Genova <br>
                    All Rights Reserved.
             </div>
        </footer>
-->        
        
        <script src="scripts/angular.min.js"></script>
        <script src="scripts/angular-route.min.js"></script>
        <script src="scripts/angular-animate.min.js"></script>

        <script src="app/app.js"></script> 
        <script src="app/home/HomeController.js"></script>
        <script src="app/about/AboutController.js"></script>
        <script src="app/contact/ContactController.js"></script>
        <script src="app/hobbies/HobbiesController.js"></script>
        <script src="app/jobs/JobsController.js"></script>
        <script src="app/skills/SkillsController.js"></script>



    </body>
</html>